.calendar {
  margin: calc(-1 * var(--size-4-3)); /* fit for `.view-content` */
  user-select: none;

  button {
    --input-shadow: none;  /* no shadow */
    cursor: pointer;
  }

  .calendar-header {
    padding: var(--size-4-4) var(--size-4-3);
    display: flex;
    align-items: center;

    .calendar-title {
      display: flex;
      flex: 1;

      button {
        padding: var(--size-4-1);
        font-size: var(--font-ui-large);
        font-weight: var(--font-bold);
        background-color: transparent;
      }
    }

    .calendar-navigation {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--size-4-1);

      button {
        margin: 0;
        padding: 0;
        width: var(--size-4-8);
        height: var(--size-4-8);
        border-radius: var(--radius-xl);
      }
    }
  }

  .calendar-container {
    .calendar-weekdays {
      padding: 0 var(--size-4-2);
      font-size: var(--font-ui-smaller);
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      & > div {
        padding: var(--size-4-2);
        text-align: center;
        font-weight: var(--font-bold);
      }
    }

    .calendar-content {
      padding: var(--size-4-2);
      font-size: var(--font-ui-smaller);
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      & > div {
        padding: var(--size-4-2);
        aspect-ratio: 1 / 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100vw;
        cursor: pointer;

        &.outside {
          color: var(--text-faint);
        }

        &.exists {
          color: var(--text-accent);
        }

        &.today {
          font-weight: var(--font-bold);
          font-size: var(--font-ui-small);
        }

        &.viewing {
          background-color: var(--color-base-25);
        }

        &.selected {
          background-color: var(--color-base-25);
        }

        &:hover, &.selected:hover {
          background-color: var(--color-base-30);
        }
      }
    }
  }

  &[data-calendar-view-type-value="months"],
  &[data-calendar-view-type-value="years"]  {
    .calendar-weekdays { display: none; }
    .calendar-content { grid-template-columns: repeat(4, 1fr); }
  }
}
